@{
    ViewData["Title"] = "Histórico de compras";
}

<h1>Compras</h1>

<table class="table" id="TabelaHistoricoCompras">
    <thead>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Comprado Por</th>
        <th>Valor total da compra (R$)</th>
        <th>Preço base do produto (R$)</th>
        <th>Quantidade comprada</th>
    </thead>
    <tbody id="corpoTabelaCompraEfetivada" >
        @* Lista de compras efetivadas carregadas separadamente para não travar tela *@
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function(){
            $.ajax({
                url: "/CompraEfetivada/CarregarListaCompraEfetivadaIndex",
                success: function(result){
                    var tbody = $('#corpoTabelaCompraEfetivada');
                    for(var compra of result.compra)
                    {
                        var node = "<tr>" + 
                            "<td><img style='width: 50px; heigth: 50px;' src='data:image/png;base64," + compra.produtoImagem + "'></td>" +
                            "<td>" + compra.produtoDescricao + "</td>" +
                            "<td>" + compra.usuarioCompra + "</td>" +
                            "<td>" + compra.valorTotal + "</td>" +
                            "<td>" + compra.produtoPreco + "</td>" +
                            "<td>" + compra.quantidadeCompra + "</td>" +
                        "</tr>";

                        tbody.append(node);
                    }

                    $('#TabelaHistoricoCompras').DataTable();
                },
                error: function(xhr,status,error){
                    alert("Erro no carregamento do histórico de compras!");
                }
            })
        })
    </script>
}