@{
    ViewData["Title"] = "Produtos";
    var dir = Directory.GetCurrentDirectory();
}

<h1>Produtos</h1>

<input type="button" class="btn btn-success" value="Criar Produto" onclick="location.href='@Url.Action("Inserir", "Produto")'" />

<table class="table">
    <thead>
        <th>Favorito</th>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Valor (R$)</th>
        <th>Quantidade em estoque</th>
        <th>Editar</th>
        <th>Deletar</th>
        <th>Comprar</th>
    </thead>
    <tbody id="corpoTabela" >
        @* Lista de produtos carregados separadamente para não travar tela *@
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function(){
            $.ajax({
                url: "/Produto/CarregarListaProdutosIndex",
                success: function(result){
                    var tbody = $('#corpoTabela');
                    for(var prod of result.produtos)
                    {
                        let heartIconResource = result.resourceImages.find(r => r.fileName == "heart_icon.png");
                        let activeHeartIconResource = result.resourceImages.find(r => r.fileName == "active_heart_icon.png");
                        var base64 = ''; 

                        if(prod.isFavoritado === true)
                        {
                            base64 = activeHeartIconResource.base64;
                        }
                        else
                        {
                            base64 = heartIconResource.base64;
                        }
                        
                        var node = "<tr>" +
                            "<td><a href='/Produto/FavoritarProduto/" + prod.id + "'><img style='width: 25px; heigth: 25px;' src='data:image/png;base64," + base64 + "' ></a></td>" +
                            "<td><img style='width: 50px; heigth: 50px;' src='data:image/png;base64," + prod.imagem + "'></td>" +
                            "<td>" + prod.descricao + "</td>" +
                            "<td>" + prod.preco + "</td>" +
                            "<td>" + prod.quantidadeEstoque + "</td>" +
                            "<td><a href='/Produto/Editar/" + prod.id + "'>Editar</a></td>" + 
                            "<td><a href='/Produto/Deletar/" + prod.id + "'>Deletar</a></td>" + 
                            "<td><a href='/Produto/Comprar/" + prod.id + "'>Comprar</a></td>" + 
                        "</tr>";

                        tbody.append(node);
                    }
                },
                error: function(xhr,status,error){
                    alert("Erro no carregamento de produtos!");
                }
            })
        })
    </script>
}