@model DemoGit.Domain.Entities.Usuario
@{
    ViewData["Title"] = "Deletar Usuario";
}

<h1>Usuário</h1>
<br/>
<h3>Tem certeza que deseja deletar este usuário?</h3>
<h4 style="color: red;">Esta ação é irreversível!</h4>
<br/>
@using(Html.BeginForm("Deletar", "Usuario", FormMethod.Post))
{
    @Html.HiddenFor(u => u.Id)
    <div>
        <input type="submit" value="Sim" class="btn btn-danger"/>
        <input type="button" class="btn btn-primary" value="Não" onclick="location.href='@Url.Action("Index", "Usuario")'" />
    </div>
}
