@model DemoGit.Domain.Entities.Usuario
@{
    ViewData["Title"] = "Redefinir senha";
}

<h1>E-mail enviado com sucesso!</h1>
<br/>
<div class="row">
    <p>Um e-mail foi enviado para você, para redefinição de sua senha.</p>
    <p>Caso não encontre o e-mail, não se esqueça de verificar a lixeira ou a caixa de spam!</p>
    <p>Maiores problemas, favor entrar em contato com o suporte da aplicação!</p>
</div>